<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARKBreedingStats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <ARKBreedingStats.Properties.Settings>
            <setting name="LastSaveFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BarMaximum" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="consideredStats" serializeAs="String">
                <value>51</value>
            </setting>
        </ARKBreedingStats.Properties.Settings>
    </userSettings>
</configuration>
