<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ARKBreedingStats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ARKBreedingStats.Properties.Settings>
            <setting name="LastSaveFile" serializeAs="String">
                <value />
            </setting>
            <setting name="consideredStats" serializeAs="String">
                <value>387</value>
            </setting>
            <setting name="MainWindowRect" serializeAs="String">
                <value>100, 100, 1400, 1000</value>
            </setting>
            <setting name="autosave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupEveryMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="listViewSortCol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="listViewSortAsc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastUpdateCheck" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="syncCollection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="celsius" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayHiddenStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OCRApp" serializeAs="String">
                <value>ArkAscended</value>
            </setting>
            <setting name="soundStarving" serializeAs="String">
                <value />
            </setting>
            <setting name="soundWakeup" serializeAs="String">
                <value />
            </setting>
            <setting name="soundBirth" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeechRecognition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="weaponDamagesEnabled" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="OverlayInfoDuration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OCRWhiteThreshold" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="ocrFile" serializeAs="String">
                <value />
            </setting>
            <setting name="waitBeforeScreenCapture" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="sequentialUniqueNamePattern" serializeAs="String">
                <value>{species} {sex_short}{n}</value>
            </setting>
            <setting name="soundCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="playAlarmTimes" serializeAs="String">
                <value>60,0</value>
            </setting>
            <setting name="inventoryCheckTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showColorsInLibrary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="savegameExtractionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MutationLimitBreedingPlanner" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DevTools" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSaveFileTestCases" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreSexInBreedingPlan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultOwnerName" serializeAs="String">
                <value />
            </setting>
            <setting name="OwnerNameLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultTribeName" serializeAs="String">
                <value />
            </setting>
            <setting name="TribeNameLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerNameLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="showOCRButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportTribeNameFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="UseServerFilterForBreedingPlan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportExportedFormRectangle" serializeAs="String">
                <value>0, 0, 700, 700</value>
            </setting>
            <setting name="ApplyGlobalSpeciesToLibrary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOwnerFilterForBreedingPlan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OCRIgnoresImprintValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeCooldownsInBreedingPlan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeCryoedInBreedingPlan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarnWhenImportingMoreCreaturesThan" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SavedFtpCredentials" serializeAs="String">
                <value />
            </setting>
            <setting name="prettifyCollectionJson" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="applyNamePatternOnImportIfEmptyName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="copyNameToClipboardOnImportWhenAutoNameApplied"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoImportExportedCreatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveAutoImportedFileToSubFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteAutoImportedFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaySoundOnAutoImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PatternEditorFormRectangle" serializeAs="String">
                <value>50, 50, 700, 700</value>
            </setting>
            <setting name="PatternEditorSplitterDistance" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ImportLowerBoundTE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayTimersInOverlayAutomatically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteExpiredTimersOnSaving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayNonDomesticableSpecies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFontName" serializeAs="String">
                <value>Microsoft Sans Serif</value>
            </setting>
            <setting name="DefaultFontSize" serializeAs="String">
                <value>8.25</value>
            </setting>
            <setting name="SpeciesSelectorVerticalSplitterDistance" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="IgnoreUnknownBlueprintsOnSaveImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomStatOverrideFormRectangle" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="OverlayTimerPosition" serializeAs="String">
                <value>30, 30</value>
            </setting>
            <setting name="OverlayInfoPosition" serializeAs="String">
                <value>30, 30</value>
            </setting>
            <setting name="TCLVSortCol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TCLVSortAsc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepExpiredTimersInOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BreedingPlanOnlyBestSuggestionForEachFemale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BreedingPlanOnePartnerMoreMutationsThanLimit"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LibraryHighlightTopCreatures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveImportCryo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseCustomOverlayLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomOverlayLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AdminConsoleCommandWithCheat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterFlagsExclude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useFiltersInTopStatCalculation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterOnlyIfColorId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LibraryFilterWindowRect" serializeAs="String">
                <value>50, 50, 800, 600</value>
            </setting>
            <setting name="FilterFlagsAllNeeded" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterFlagsOneNeeded" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ModManagerWindowRect" serializeAs="String">
                <value>50, 50, 800, 600</value>
            </setting>
            <setting name="SpeciesSelectorCountLastSpecies" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="applyNamePatternOnAutoImportForNewCreatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlreadyAskedToDownloadSpeciesImageFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LibrarySelectSelectedSpeciesOnLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportExportUseTamerStringForOwner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportExportedArchiveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayInheritanceInOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoGraphicHeight" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="CustomReplacingFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="applyNamePatternOnAutoImportAlways" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Highlight255Level" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightEvenOdd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUsedCollectionFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoGraphicExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoGraphicShowMaxWildLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoGraphicBackColor" serializeAs="String">
                <value>AntiqueWhite</value>
            </setting>
            <setting name="InfoGraphicForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InfoGraphicFontName" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="InfoGraphicBorderColor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupFileCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="InfoGraphicWithDomLevels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoGraphicDisplayMutations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoGraphicDisplayGeneration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImgCacheUseLocalAppData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoImportedExportFileRenamePattern" serializeAs="String">
                <value>DinoExport_{arkid}_{species}.ini</value>
            </setting>
            <setting name="AutoImportedExportFileRename" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoImportGotoLibraryAfterSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PauseGrowingTimerAfterAddingBaby" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeciesImagesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsiderWastedStatsForTopCreatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveFileImportUnclaimedBabies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OcrGuessSpecies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitBeforeAutoLoadMs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoGraphicDisplayName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PedigreeViewMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PedigreeCompactViewGenerations" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="InfoGraphicExtraRegionNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PedigreeWidthLeftColum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PedigreeZoomFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TamingFoodOrderByTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoGraphicShowStatValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoGraphicShowRegionNamesIfNoImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChartHueMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChartHueMax" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ChartHueEvenMin" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ChartHueEvenMax" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ChartHueOddMin" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="ChartHueOddMax" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="PatternNameToClipboardAfterManualApplication"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnAutoImportAddToLibrary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OCRFromClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OCRFromRectangle" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="RaisingFoodLastSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="BreedingPlanDontSuggestOverLimitOffspring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerListSortColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerListSortAsc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportExportedBringToFrontOnIssue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideInvisibleColorRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTribeFilterForBreedingPlan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterHideAdults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterHideNonAdults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterHideCooldowns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterHideNonCooldowns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LibraryGroupBySpecies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LibraryColorInfoUseFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNaturalSort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NaturalSortIgnoreSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowColorIdOnRegionButtons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowAllColorRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language2" serializeAs="String">
                <value />
            </setting>
            <setting name="OverlayRelativeFontSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisplayLibraryCreatureIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskSaveSettingsOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepMultipliersForNewLibrary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportServerToken" serializeAs="String">
                <value />
            </setting>
        </ARKBreedingStats.Properties.Settings>
    </userSettings>
</configuration>
